.about__container {
  height: fit-content;
  overflow: hidden;
}

.container__content {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.content__1 {
  width: 30%;
  height: 100vmin;
  background: linear-gradient(140deg, #0b0c0d 0%, #2d2f33 100%);
  box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.43);
}

.content__1 .image {
  border: 5px solid var(--secondary-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 3rem auto;
  box-shadow: 2px 0px 9px rgba(0, 0, 0, 0.652);
}

.content__1 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%);
}

.content__1 h4 {
  color: #ffffff9b;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bolder;
}

.content__1 h5 {
  border-radius: 2px;
  background: var(--secondary-color);
  width: fit-content;
  padding: 2px 5px;
  margin: 9px auto;
}

.content__1 .hire {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem auto;
  gap: 9px;
}

.content__1 .hire a {
  border-radius: 42px;
  border: 1px solid var(--primary-color);
  display: flex;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bolder;
}

.content__1 .hire a:hover {
  background-color: rgba(255, 255, 255, 0.497);
  color: black !important;
  box-shadow: 1.5px 1.5px 9px rgb(154, 152, 152);
}

.content__1 .links {
  width: 40%;
  margin: 3rem auto;
}

.content__1 .links .link {
  display: flex;
  justify-content: space-between;
}

.content__1 .links .link a {
  color: #3b4b5c;
}

/* Content__2 */
.content__2 {
  width: 60%;
  position: relative;
}

.content__2 .content {
  width: 90%;
  position: absolute;
  top: 28%;
  left: 6rem;
  margin: 0 auto;
}

.content__2 .content h4 {
  color: var(--primary-color);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.content__2 .content h5 {
  color: var(--color-white);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.content__2 .content h5 span {
  color: white;
}

.content__2 .content h6 {
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 300;
}

.content__2 .content h6 span {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

/* Responsive Design */
@media screen and (max-width: 992px) {
  .about__container {
    overflow-y: visible;
  }
}

@media screen and (max-width: 940px) {
  .container__content {
    flex-direction: column;
  }

  .content__1 {
    width: 100%;
    height: fit-content;
  }

  .content__2 {
    width: 100%;
  }

  .content__2 .content {
    left: 0;
    right: 0;
    padding-bottom: 3rem;
  }

  .content__2 .content h6 {
    text-align: justify;
  }
}
