.project__container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pro__container__content .top__text {
  width: 90%;
  margin: 0 auto;
  color: var(--secondary-color);
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.pro__container__content .template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem auto 1rem;
  padding-bottom: 2rem;
  width: 90%;
}

.pro__container__content .template__card {
  border: transparent;
  background: transparent;
  padding: 1rem;
  position: relative;
}

.pro__container__content .template__card .card {
  height: 150px;
  flex-shrink: 0;
  background: #0f1720;
  padding: 2rem;
  box-shadow: 5px 5px 18px black;
}

.pro__container__content .template__card .card h4 {
 color: var(--primary-color);
 text-align: center;
 margin-bottom: 13px;
 margin-top: 1.2rem;
}

.pro__container__content .template__card .card h4 a {
  color: var(--primary-color) !important;
 }

 .pro__container__content .template__card .card h4 a:hover{
  color: var(--color-white) !important;
 }

.pro__container__content .template__card .card h6 {
  color: var(--color-white);
  text-align: center;
}

.pro__container__content .template__card .card .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.4rem;
  color: var(--primary-color);
}


/* Resposive Design */
@media screen and (max-width: 992px){
  .project__container {
    height: 100vh;
    overflow-y: visible;
  }

  .pro__container__content .top__text{
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .pro__container__content .template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin: 2rem auto 0;
  }
}





@media screen and (max-width: 670px){
  .pro__container__content .template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin: 2rem auto 0;
  }

  .pro__container__content .template__card {
    border: 1px solid transparent;
    background: transparent;
    padding: 1rem;
  }
}

@media screen and (max-width: 532px){
  .pro__container__content .template {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 2rem auto 0;
  }

  .pro__container__content .template__card {
    border: 1px solid transparent;
    background: transparent;
    padding: 1rem;
  }
}